@charset "utf-8";

/* CSS Document */
@media (max-width:1365px) {
.logo a {
	width: 160px;
}
.navbar-default .navbar-nav > li > a {
	font-size: 18px;
	padding: 5px 13px;
}
.navbar-nav {
	margin-top: 22px;
}
.btn-wrapper {
	margin-top: 11px;
}
.innerpage .nav-tabs > li a {
	padding: 14px 11px;
	font-size: 16px;
}
.right-nav li.dateList a span {
	padding: 0 8px;
}
.right-nav li.dateList a {
	font-size: 16px;
}
.blog-list-view .blog-post .blog-content p {
	font-size: 13px;
}
.blog-post .post-link a {
}
.blog-list-view .blog-post .blog-content .post {
	margin-bottom: 10px;
}
.blog-post .post-link a.read-more-link i {
	font-size: 30px;
}
.blog-post .post-link a i {
	width: 53px;
}
	.blog-post .blog-content .post {
    font-size: 12px;
   
}
.innerpage .blog-post .blog-img, .blog-post .blog-img {
	min-height: 214px;
}
.blog-post {
	background-color: #ffffff;
}
}

@media (max-width:1200px) {
.nav-tabs>li>a {
	font-size: 16px;
	padding: 14px 21px;
}
.logo a {
	width: 115px;
}
.innerpage .nav-tabs > li a {
	padding: 14px 6px;
}
.nav-tabs > li > a i.right-icon {
	width: 17px;
}
.right-nav li:last-child a {
	width: 35px;
}
.right-nav li a {
	padding: 17px 10px;
	width: 35px;
}
.right-nav li.dateList a {
	font-size: 13px;
}
.right-nav li.dateList a span {
	padding: 0 7px;
}
.blog-list-view .blog-post .blog-content p {
	font-size: 12px;
}
.blog-post .post-link a {
	padding: 11px 0;
}
.blog-list-view .blog-post .blog-content .post {
	margin-bottom: 10px;
}
.blog-post .post-link a.read-more-link i {
	font-size: 30px;
}
.blog-post .post-link a i {
	width: 53px;
}
	.innerpage .blog-post .blog-img, .blog-post .blog-img {
	min-height: inherit;
	
}
.blog-post .blog-img .icon-wrapper {
	top: 10px;
}
	.blog-post .blog-content {
    min-height: 105px;
}
}

@media (max-width:990px) {
.top-contact ul li a {
	padding: 0 15px;
}
.nav-tabs > li > a i.right-icon {
	width: 18px;
}
.right-nav li.dateList a {
	font-size: 16px;
}
.right-nav {
	margin: 0;
}
.blog-post .post-link a {
	font-size: 13px;
	padding: 11px 0;
}
.blog-list-view .blog-post .blog-content .post {
	margin-bottom: 10px;
}
.blog-post .post-link a.read-more-link i {
	font-size: 30px;
}
.blog-post .post-link a i {
	width: 53px;
}
.blog-post .blog-img {
	min-height: 174px;
}
}

@media (min-width:990px) and (max-width:1200px) {
.navbar-default .navbar-nav>li>a {
	padding: 5px 7px;
	font-size: 16px;
}
.btn-outline {
	font-size: 15px;
	padding: 0px 9px;
}
.navbar-nav, .btn-wrapper {
	margin: 0;
}
.blog-post .blog-img {
	min-height: 185px;
}
}
@media (min-width:769px) and (max-width:1280px) { 
	.video-wrapper, .video-block {
		padding: 0;
	}
	.video-block .video-box .text-with-border {
    width: 67px;
    height: 53px;
    font-size: 13px;
    line-height: 11px;
    bottom: 20px;
}
.video-block .video-text h4 {
    font-size: 14px;
}
.video-block .video-text p{
	font-size: 11px;
} 
.banner-box a span.full-border h3 {
	font-size: 16px;
}
.banner-box a span.full-border {
    top: 6px;
    left: 6px;
}
.banner-box a span.double-border h3 {
	font-size: 14px;
}
}
@media (min-width:768px) and (max-width:990px) {
.navbar-nav {
	margin: 0;
}
.navbar-default .navbar-nav>li>a {
	font-size: 12px;
	padding: 5px 8px;
}
.logo a {
	width: 80px;
}
.carousel-caption h3 {
	font-size: 18px;
}
.carousel-caption h4 {
	font-size: 14px;
}
.container {
	max-width: 950px;
	width: 100%;
}
.block-box .block-content h3 a, .block-button a span, .newsletter .newsletter-form .news-title h3, .blog-post .blog-content h3 {
	font-size: 15px;
}
.block-box .block-content p, .block-button a, .newsletter .newsletter-form .news-title p, .blog-post .blog-content .post {
	font-size: 11px;
}
.newsletter .newsletter-form form {
	width: auto;
}
.half-banner-box {
	height: 75px;
}
.blog-post .blog-content {
	padding: 8px 15px;
	min-height: 70px;
}
footer .vertical-line {
	margin-top: 30px;
}
.footer-menu ul li a:before {
	display: none;
}
.footer-logo img {
	width: auto;
}
.nav-tabs > li > a {
	font-size: 13px;
	padding: 14px 10px;
}
}

@media (min-width:320px) and (max-width:767px) {
.navbar-nav>li.dropdown:hover .dropdown-menu {
	display: none !important;
}
.navbar-nav>li.dropdown.open .dropdown-menu {
	display: block !important;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	border-bottom: 1px solid #eae7e7;
}
.navbar-default .navbar-nav>li.dropdown .dropdown-menu li:hover a {
	color: #cd504c;
}
.top-header .top-social-links ul li a {
	margin: 0;
}
.blog-post .blog-content {
	padding: 8px 15px;
}
.block-box .block-content h3 a, .block-button a span, .newsletter .newsletter-form .news-title h3, .blog-post .blog-content h3 {
	font-size: 14px;
}
.block-box .block-content p, .block-button a, .newsletter .newsletter-form .news-title p, .blog-post .blog-content .post {
	font-size: 11px;
}
.footer-menu ul li a:before {
	display: none;
}
}

@media (max-width:767px) {
.top-contact ul li a {
	padding: 0 10px;
}
.top-header .top-social-links ul li a, .top-contact-list .dropdown {
	margin: 0 5px 0 0;
	font-size: 12px;
}
.site-search {
	width: 100%;
}
.dropdown.open .dropdown-menu {
	left: auto;
	right: 0;
	transform: none !important;
}
.navbar-default .navbar-brand {
	display: block;
	padding-bottom: 10px;
}
.bottom-header {
	padding: 5px 0;
}
.navbar-default .navbar-toggle {
	background-color: #c74d4a;
	border: none;
	border-radius: 0;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #000;
}
.navbar-nav>li {
	display: block;
}
.navbar-default .navbar-nav>li>a {
	text-align: left;
	display: block;
	border-bottom: 1px solid #eae7e7;
	padding: 7px 20px;
}
.navbar-default .navbar-nav>li>a span {
	display: inline-block;
}
.navbar-nav {
	margin-top: 0;
	border-bottom: 2px solid #c74d4a;
}
.navbar-collapse.in {
	overflow-y: inherit;
}
.navbar-default .navbar-nav li + li:before {
	display: none;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	border-color: #f8f8f8;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #000;
	padding: 7px 30px;
}
.top-header .top-social-links ul li a {
	margin: 0;
	width: 14px;
}
	.blog-post .blog-content {
    min-height: inherit;
}
}

@media (min-width:320px) and (max-width:767px) {
.nav-tabs>li>a {
	font-size: 13px;
	padding: 10px 5px;
}
.carousel-caption h3 {
	font-size: 18px;
}
.carousel-caption h4 {
	font-size: 14px;
}
footer {
	padding: 30px 0;
	text-align: center;
}
.footer-logo img {
	margin: 0 auto;
	width: auto;
}
.footer-menu ul li {
	padding: 0 13px 0 0px;
	font-size: 10px;
}
.top-contact-list .dropdown button {
	font-size: 12px;
}
.top-contact ul li i.email {
	width: 13px;
}
section {
	padding: 0 0 20px 0;
}
.innerpage .nav-tabs > li, .innerpage .nav-tabs > li.long-navtab {
	width: 100%;
	border-left: none;
}
.innerpage .nav-tabs > li a {
	font-size: 16px;
	border-left: none;
	border-right: none;
	border-top: none;
}
.partner-logo {
	text-align: center;
}
}

@media (max-width:480px) {
.top-contact ul li a {
	padding: 0 10px;
	font-size: 11px;
}
.top-contact .search-btn {
	width: 11px;
}
.blog-list .col-xs-6 {
	width: 100%;
}
/*.nav-tabs>li {
		width: auto;
	}*/
.top-contact ul li a {
	padding: 0;
}
.top-contact ul li i.joinder {
	width: 9px;
}
.top-contact ul li i {
	width: 13px;
	margin-right: 2px;
}
.nav-tabs > li > a {
	font-size: 11px;
	padding: 10px 4px;
}
}

@media (max-width:380px) {
.top-contact ul li a {
	padding: 0;
}
.nav-tabs>li {
	width: auto;
}
}
