@charset "utf-8";

/* CSS Document */
@media (max-width:1200px) {
.nav-tabs>li>a {
	font-size: 16px;
	padding: 14px 21px;
}
}

@media (max-width:990px) {
.top-contact ul li a {
	padding: 0 0px;
}
	.button-wrapper {
    margin-bottom: 20px;
}
}

@media (min-width:990px) and (max-width:1200px) {
.navbar-default .navbar-nav>li>a {
	padding: 5px 10px;
	font-size: 14px;
}
.btn-outline {
	font-size: 15px;
	padding: 0px 9px;
}
}

@media (min-width:768px) and (max-width:990px) {
.navbar-nav {
	margin: 0;
}
.navbar-default .navbar-nav>li>a {
	font-size: 12px;
	padding: 5px 5px;
}
.logo a {
	width: 80px;
}
.carousel-caption h3 {
	font-size: 18px;
}
.carousel-caption h4 {
	font-size: 14px;
}
.container {
	max-width: 950px;
	width: 100%;
}
.block-box .block-content h3 a, .block-button a span, .newsletter .newsletter-form .news-title h3, .blog-post .blog-content h3 {
	font-size: 15px;
}
.block-box .block-content p, .block-button a, .newsletter .newsletter-form .news-title p, .blog-post .blog-content .post {
	font-size: 11px;
}
.newsletter .newsletter-form form {
	width: auto;
}
.half-banner-box {
	
}
	.banner-box .banner-border::before {

    top: 7px;
    left: 8px;

}
.blog-post .blog-content {
	padding: 8px 15px;
}
footer .vertical-line {
	margin-top: 30px;
}
.footer-menu ul li a:before {
	display: none;
}
.footer-logo img {
	width: auto;
}
.nav-tabs > li > a {
	font-size: 13px;
	padding: 14px 10px;
}
	.banner-box a span.text-with-border {
	font-size: 15px;
	line-height: 15px;
	padding: 5px 8px;
}
.banner-box a span.overlay-text {
	bottom: 10px;
	top: auto;
	left: 10px;
	font-size: 9px;
}
.banner-box a span.overlay-text .big-text {
	font-size: 17px;
	line-height: 16px;
}
	.half-banner-box .text-bottom {
    bottom: 15px;
    font-size: 20px;
    
}
}

@media (min-width:320px) and (max-width:767px) {
.navbar-nav>li.dropdown:hover .dropdown-menu {
	display: none !important;
}
.navbar-nav>li.dropdown.open .dropdown-menu {
	display: block !important;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	border-bottom: 1px solid #eae7e7;
}
.navbar-default .navbar-nav>li.dropdown .dropdown-menu li:hover a {
	color: #cd504c;
}
.top-header .top-social-links ul li a {
	margin: 0;
}
.blog-post .blog-content {
	padding: 8px 15px;
}
.block-box .block-content h3 a, .block-button a span, .newsletter .newsletter-form .news-title h3, .blog-post .blog-content h3 {
	font-size: 14px;
}
.block-box .block-content p, .block-button a, .newsletter .newsletter-form .news-title p, .blog-post .blog-content .post {
	font-size: 11px;
}
.footer-menu ul li a:before {
	display: none;
}
}

@media (max-width:767px) {
.top-contact ul li a {
	padding: 0 10px;
}
.top-header .top-social-links ul li a, .top-contact-list .dropdown {
	margin: 0 5px 0 0;
	font-size: 12px;
}
.site-search {
	width: 100%;
}
.dropdown.open .dropdown-menu {
	left: auto;
	right: 0;
	transform: none !important;
}
.navbar-default .navbar-brand {
	display: block;
	padding-bottom: 10px;
}
.bottom-header {
	padding: 5px 0;
}
.navbar-default .navbar-toggle {
	background-color: #c74d4a;
	border: none;
	border-radius: 0;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #000;
}
.navbar-nav>li {
	display: block;
}
.navbar-default .navbar-nav>li>a {
	text-align: left;
	display: block;
	border-bottom: 1px solid #eae7e7;
	padding: 7px 20px;
}
.navbar-default .navbar-nav>li>a span {
	display: inline-block;
}
.navbar-nav {
	margin-top: 0;
	border-bottom: 2px solid #c74d4a;
}
.navbar-collapse.in {
	overflow-y: inherit;
}
.navbar-default .navbar-nav li + li:before {
	display: none;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	border-color: #f8f8f8;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #000;
	padding: 7px 30px;
}
.top-header .top-social-links ul li a {
	margin: 0;
	width: 14px;
}
}

@media (min-width:320px) and (max-width:767px) {
.nav-tabs>li>a {
	font-size: 13px;
	padding: 10px 5px;
}
.carousel-caption h3 {
	font-size: 18px;
}
.carousel-caption h4 {
	font-size: 14px;
}
footer {
	padding: 30px 0;
	text-align: center;
}
.footer-logo img {
	margin: 0 auto;
	width: auto;
}
.footer-menu ul li {
	padding: 0 13px 0 0px;
	font-size: 10px;
}
.top-contact-list .dropdown button {
	font-size: 12px;
}
.top-contact ul li i.email {
	width: 13px;
}
section {
	padding: 0 0 20px 0;
}
}

@media (max-width:480px) {
.top-contact ul li a {
	padding: 0 10px;
	font-size: 11px;
}
.top-contact .search-btn {
	width: 11px;
}
.blog-list .col-xs-6 {
	width: 100%;
}
/*.nav-tabs>li {
		width: auto;
	}*/
.top-contact ul li a {
	padding: 0;
}
.top-contact ul li i.joinder {
	width: 9px;
}
.top-contact ul li i {
	width: 13px;
	margin-right: 2px;
}
.nav-tabs > li > a {
	font-size: 11px;
	padding: 10px 4px;
}
.banner-box a span.text-with-border {
	font-size: 15px;
	line-height: 15px;
	padding: 5px 8px;
}
.banner-box a span.overlay-text {
	bottom: 10px;
	top: auto;
	left: 10px;
	font-size: 9px;
}
.banner-box a span.overlay-text .big-text {
	font-size: 17px;
	line-height: 16px;
}
	.half-banner-box .text-bottom {
    bottom: 15px;
    font-size: 20px;
    
}
}

@media (max-width:380px) {
.top-contact ul li a {
	padding: 0;
}
.nav-tabs>li {
	width: auto;
}
}
