* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	box-sizing: border-box;
}
body {
	background-color: #fff;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0;
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
}
ul, ol, h1, h2, h3, h4, h5, h6, p {
	outline: none !important;
	margin: 0;
	padding: 0;
}
p + p {
	padding: 10px 0;
}
img {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
}
iframe {
	max-width: 100%;
}
a:hover, a:focus {
	outline: none;
	text-decoration: none;
}
.mt30 {
	margin-top: 40px;
}
.mt20 {
	margin-top: 20px !important;
}
.clear {
	clear: both;
}
/*Common Css*/
.mb-110 {
	margin-bottom: 110px !important;
}
.container {
	max-width: 1200px;
}
section {
	padding: 26px 0 90px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+18,d7d7d7+100 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 18%, rgba(215,215,215,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 18%, rgba(215,215,215,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 18%, rgba(215,215,215,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d7d7d7', GradientType=0 ); /* IE6-9 */
}
.no-gutters {
	margin: 0;
}
.no-gutters div[class*="col-"]{
	padding: 0;
}
/*Top Header  Css Start*/
.top-header {
	background-color: #f8f8f8;
	padding: 0;
}
.top-header .top-social-links {
}
.top-header .top-social-links ul {
}
.top-header .top-social-links ul li {
	display: inline-block;
}
.top-header .top-social-links ul li a {
	color: #000;
	width: 20px;
	height: 20px;
	line-height: 20px;
	display: block;
	text-align: center;
	margin: 12px 7px 0 0;
}
.top-contact-list .dropdown {
	margin-right: 15px;
}
.top-contact-list .dropdown button {
	background-color: transparent;
	padding: 0;
	border: none;
	color: #cd504c;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	border-radius: 0;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
	background-color: transparent;
	border: none;
	color: #cd504c;
	box-shadow: none !important;
}
.dropdown .dropdown-menu {
	max-height: 0;
	display: block !important;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.5s ease-in-out;
	-moz-transition: max-height 0.5s ease-in-out;
	-ms-transition: max-height 0.5s ease-in-out;
	-o-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
}
.dropdown .dropdown-menu ul {
	display: block !important;
}
.dropdown-toggle::after {
	display: none;
}
.dropdown.open .dropdown-menu {
	max-height: 300px;
	opacity: 1;
	background-color: #ffffff;
	border-radius: 0;
	border: none;
	padding: 0;
	margin: 0;
	top: 103%;
}
.dropdown.open .dropdown-menu li {
	display: block;
	width: 100%;
}
.dropdown .dropdown-menu li a {
	border-bottom: 1px solid #f8f8f8;
	font-size: 14px;
	display: block;
	padding: 7px 10px;
}
.dropdown-menu li a:focus, .dropdown-menu li a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #cd504c;
}
/* Site Search Css Start*/

.site-search {
	padding: 10px;
	width: 150px;
	display: inline-block;
	z-index: 9;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.site-search.toggled {
	max-height: 100px;
	opacity: 1;
}
.site-search .form-group {
	margin-bottom: 0;
	position: relative;
}
.site-search input[type="search"] {
	font-size: 12px;
	border: none;
	outline: none;
	color: #555;
	padding: 5px 22px 5px 10px;
	border-radius: 0;
	height: 22px;
	background-color: #fbfbfb;
	z-index: 3;
	box-shadow: none;
	transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	cursor: pointer;
}
.site-search button {
	position: absolute;
	top: 50%;
	right: 7px;
	background-color: transparent;
	border: none;
	width: 12px;
	margin-top: -6px;
}
.site-search input[type="submit"]:hover {
	opacity: 0.8;
}
.top-contact {
	font-family: 'Open Sans Condensed', sans-serif;
}
.top-contact ul {
	display: inline-block;
	margin: auto;
}
.top-contact ul li {
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
}
.top-contact ul li a {
	color: #000000;
	font-size: 14px;
	padding: 0 20px;
	display: block;
}
.top-contact ul li a:hover {
	color: #c74d4a;
}
.top-contact ul li a:hover i img {
	-webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
	filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}
.top-contact .dropdown .dropdown-menu li a:hover {
	color: #ffffff;
}
.top-contact ul li i {
	width: 18px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}
.top-contact ul li i.email {
	width: 15px;
}
.top-contact ul li i.painer {
}
.top-contact ul li i.joinder {
	width: 11px;
}
.top-contact .dropdown, .top-contact .search-btn {
	display: inline-block;
	vertical-align: middle;
}
.top-contact .search-btn {
	-webkit-transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	transition: all ease-in-out 0.5s;
}
/*Navbar Css Start*/
.logo {
}
.logo a {
	display: block;
	width: 120px;
}
.bottom-header {
	padding: 20px 0 0 0;
	background-color: #ffffff;
}
.navbar-default {
	border-radius: 0;
	background-color: transparent;
	border: none;
	margin-bottom: 0;
}
.navbar-nav {
	border-bottom: 1px solid #c74d4a;
	margin-top: 33px;
}
.navbar-default .navbar-brand {
	color: #777;
	height: auto;
	width: 90px;
	padding: 0;
	display: none;
}
.navbar-nav>li {
	float: none;
	display: inline-block;
	vertical-align: middle;
}
.navbar-default .navbar-nav>li>a {
	font-family: 'Staatliches', cursive;
	font-size: 17px;
	color: #000 !important;
	text-align: center;
	padding: 5px 15px;
	text-transform: uppercase;
	position: relative;
}
.navbar-default .navbar-nav li + li:before {
	content: "";
	width: 1px;
	height: 30px;
	background-color: #c74d4a;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	left: 0;
}
.navbar-default .navbar-nav>li>a>span {
	display: block;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #c74d4a !important;
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	border: none;
}
.navbar-default .navbar-nav>li.dropdown .dropdown-menu {
	min-width: 200px;
}
.navbar-default .navbar-nav>li.dropdown .dropdown-menu li a {
	font-size: 13px;
}
.navbar-default .navbar-nav li.dropdown .dropdown-menu li:before {
	display: none;
}
.navbar-collapse {
	padding: 0;
}
.navbar-nav>li.dropdown:hover .dropdown-menu {
	display: block !important;
	opacity: 1;
	max-height: 300px;
	background-color: #ffffff;
	border-radius: 0;
	border: none;
	padding: 0;
	margin: 0;
	top: 103%;
}
.btn-wrapper {
	margin-top: 13px;
}
.btn-outline {
	border: 2px solid #e8e565;
	border-radius: 0;
	box-shadow: none !important;
	font-family: 'Staatliches', cursive;
	font-size: 18px;
	height: 50px;
	line-height: 47px;
	padding: 0px 15px;
	color: #000;
	background-color: transparent;
	-webkit-transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	transition: all ease-in-out 0.5s;
}
.btn-outline:hover {
	background-color: #e8e565;
}
/*Carousel Css Start*/
.carousel-control {
	height: 28px;
	width: 28px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	top: 50%;
	margin-top: -14px;
	background-image: none !important;
	background: rgba(121,121,121, 0.5);
	opacity: 1;
}
.carousel-control.left {
	left: 3px;
}
.carousel-control.right {
	right: 3px;
}
.carousel-control img {
	width: auto;
	margin: 0 auto;
}
.icon-wrapper {
	position: absolute;
	top: 14px;
	right: 25px;
}
.icon-wrapper ul {
}
.icon-wrapper ul li {
	display: inline-block;
}
.icon-wrapper ul li a {
	color: #fff;
	font-size: 18px;
	margin: 0 5px;
	display: block;
}
.icon-wrapper ul li a:hover {
	color: #c74d4a;
}
.carousel {
	margin-bottom: 15px;
}
.carousel-caption {
	width: 100%;
	right: 0;
	left: 35px;
	text-align: left;
	bottom: 27px;
	padding: 0;
}
.carousel-caption h3 {
	text-transform: uppercase;
	font-size: 35px;
	font-family: 'Staatliches', cursive;
	margin-top: 9px;
}
.carousel-caption h3 span {
	display: block;
}
.carousel-caption h4 {
	font-size: 18px;
	font-weight: 300;
}
.carousel-indicators {
	bottom: 5px;
}
.carousel-indicators li, .carousel-indicators .active {
	width: 8px;
	height: 8px;
	background-color: rgba(255,255,255,0.5);
	border: none;
}
.carousel-indicators .active {
	background-color: rgba(255,255,255,0.7);
}
/*Navtabs Css Start*/
.navtab-wrapper {
}
.nav-tabs {
	background-color: transparent;
	border: none;
	border-radius: 0;
}
.nav-tabs>li {
	margin-bottom: 0;
	margin-left: -1px;
	width: 25%;
}
.nav-tabs>li>a {
	text-transform: uppercase;
	color: #1a1a1a;
	font-family: 'Staatliches', cursive;
	font-size: 16px;
	border-radius: 0;
	padding: 14px 0;
	text-align: center;
	border: 1px solid #e2e2e2;
	margin: 0;
	border-right: none;
	background-color: #fff;
}
.nav-tabs>li>a i {
	margin-right: 10px;
}
.nav-tabs>li:last-child a {
	border-right: 1px solid #e2e2e2;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav>li>a:focus, .nav>li>a:hover {
	color: #fff;
	background-color: #c74d4a;
	border: 1px solid #c74d4a;
}
.tab-content {
	padding: 15px 0;
}
.blog-post {
	position: relative;
	margin-bottom: 20px;
	cursor: pointer;
}
.blog-post .blog-img {
	position: relative;
	overflow: hidden;
}
.blog-post .blog-img img, .banner-box a img {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.blog-post .blog-img .icon-wrapper {
	top: 50px;
	right: 9px;
}
.blog-post .blog-tag {
	font-size: 12px;
	position: absolute;
	top: 15px;
	left: 0;
	background-color: #c74d4a;
	color: #fff;
	padding: 5px 12px;
	text-transform: uppercase;
}
.blog-post .blog-content {
	background-color: #fff;
	padding: 22px 23px;
}
.blog-post .blog-content h3 {
	max-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.blog-post .blog-content h3 a {
	font-family: 'Staatliches', cursive;
	color: #1a1a1a;
}
.blog-post .blog-content .post {
	font-size: 12px;
}
.blog-post:hover .blog-img img, .banner-box:hover a img {
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.blog-post .blog-content h3:hover a {
	color: #c74d4a;
}
.block-box {
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	cursor: pointer;
}
.block-box .tag {
	position: absolute;
	top: 20px;
	left: 0;
	background-color: rgba(231,227,92,0.5);
	color: #ffffff;
	font-size: 12px;
	padding: 5px 20px 5px 10px;
	letter-spacing: 0.2px;
}
.block-box .block-content {
	position: absolute;
	bottom: 15px;
	left: 20px;
	color: #fff;
}
.block-box .block-content h3 {
}
.block-box .block-content h3 a {
	color: #e7e35c;
	font-family: 'Staatliches', cursive;
	font-size: 28px;
}
.block-box .block-content h3 a span {
	display: block;
}
.block-box .block-content p {
	font-size: 14px;
	letter-spacing: 0.2px;
}
.block-box img {
	width: 100%;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.block-box:hover img {
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.block-button {
}
.block-button a {
	background-color: #e7e35c;
	border-radius: 0;
	display: block;
	border: none;
	box-shadow: none;
	text-align: left;
	position: relative;
	text-transform: uppercase;
	color: #fff;
	padding: 7px 0 7px 75px;
	line-height: 15px;
	font-size: 13px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.block-button a .icon {
	position: absolute;
	top: 50%;
	left: 25px;
	margin-top: -18px;
}
.block-button a span {
	display: block;
	font-size: 24px;
	font-family: 'Staatliches', cursive;
}
.block-button a span i {
	margin-left: 10px;
}
.block-button a:hover {
	background-color: #000000;
	color: #ffffff;
}
.newsletter {
	background-color: #fff;
	margin: 15px 0;
	border: 1px solid #e7e35c;
	padding: 20px 20px 15px 70px;
	position: relative;
}
.newsletter .news-icon {
	position: absolute;
	top: 20px;
	left: 20px;
}
.newsletter .news-icon img {
}
.newsletter .newsletter-form {
}
.newsletter .newsletter-form .news-title {
	margin-bottom: 10px;
}
.newsletter .newsletter-form .news-title h3 {
	display: block;
	font-size: 27px;
	font-family: 'Staatliches', cursive;
}
.newsletter .newsletter-form .news-title p {
	font-size: 14px;
}
.newsletter .newsletter-form form {
	width: 240px;
}
.newsletter .newsletter-form form .form-group {
	margin-bottom: 0;
	position: relative;
}
.newsletter .newsletter-form form .form-group .form-control {
	border-radius: 0;
	background-color: #f9f9f9;
	border-color: #efefe7;
	box-shadow: none;
	padding-right: 45px;
}
.newsletter .newsletter-form form .form-group button {
	background-color: #e7e35c;
	border-radius: 0;
	color: #ffffff;
	position: absolute;
	top: -1px;
	right: 0;
}
.newsletter .newsletter-form form .form-group button i {
}
/*Video Css Start*/
.video-block {
	background-color: #ffffff;
	padding: 10px;
	display: table;
	margin-bottom: 20px;
	border: 1px solid #e7e35c;
}
.video-block .video-box {
	position: relative;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}
.video-block .video-text {
	padding-left: 15px;
	padding-right: 15px;
}
.video-block .video-text h4 {
	font-family: 'Staatliches', cursive;
	font-size: 24px;
}
.video-block .video-text h4 span {
	display: block;
}
.video-block .video-text p {
	font-size: 12px;
	max-height: 105px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.video-block .video {
}
.video-block .video img {
}
.video-block .video a.play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -31px;
	margin-left: -31px;
}
.half-banner-box {
	width: 100%;
	background-color: #fff;
	margin-bottom: 21px;
}
/*Footer Css Start*/
footer {
	background-color: #4c4747;
	padding: 63px 0;
	color: #fff;
}
footer h4 {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 8px;
}
.footer-logo {
}
.footer-logo img {
	width: auto;
}
.footer-content {
	border-top: 1px solid #fff;
	margin-top: 10px;
	padding-top: 10px;
}
.footer-content p {
	font-size: 12px;
	max-height: 105px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.footer-links {
}
.footer-links ul {
}
.footer-links ul li {
	list-style: none;
}
.footer-links ul li a {
	font-size: 12px;
	color: #f5f5f5;
}
.footer-social-link {
}
.footer-social-link li {
	list-style: none;
	display: inline-block;
	margin-right: 13px;
	font-size: 20px;
}
.footer-social-link li a {
	color: #ffffff;
}
.f-newsletter {
	margin-bottom: 44px;
}
.f-newsletter .news-title {
	margin-bottom: 6px;
}
.f-newsletter .news-title h3 {
	font-family: 'Staatliches', cursive;
}
.f-newsletter .news-title p {
	font-size: 12px;
}
.f-newsletter form {
}
.f-newsletter form .form-group {
	margin-bottom: 0;
	position: relative;
}
.f-newsletter form .form-group .form-control {
	background-color: #8d8a8a;
	border: none;
	border-radius: 0;
	padding-right: 47px;
}
.f-newsletter form .form-group .solid-btn {
	background-color: #242424;
	color: #fff;
	border-radius: 0;
	position: absolute;
	top: 0;
	right: 0;
}
.partner-logo {text-align: right;}
.partner-logo ul {
}
.partner-logo ul li {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}
.partner-logo ul li a {
}
.footer-links ul li a:hover, .footer-social-link li a:hover {
	color: #c74d4a;
}
footer .vertical-line {
	position: relative;
}
footer .vertical-line:after {
	content: "";
	height: 100%;
	width: 1px;
	background-color: #918e8e;
	display: block;
	position: absolute;
	top: 0;
	left: -11px;
}
/*Bottom Footer Css Start*/
.bottom-footer {
	background-color: #242424;
	color: #fff;
	font-size: 12px;
	padding: 15px;
}
.footer-menu {
}
.footer-menu ul {
}
.footer-menu ul li {
	display: inline-block;
	padding: 0 30px 0 0px;
}
.footer-menu ul li a {
	color: #ffffff;
	position: relative;
	display: block;
	text-transform: uppercase;
}
.footer-menu ul li a:before {
	content: "";
	height: 10px;
	width: 1px;
	background-color: #d4d4d4;
	display: block;
	position: absolute;
	top: 50%;
	left: -18px;
	margin-top: -5px;
}
.banner-box {
	overflow: hidden;
	position: relative;
}
.banner-box a {
	display: block;
	position: relative;
	color: #fff;
}
.banner-box a img {
}
.banner-box a span {
	position: absolute;
	top: 15px;
	left: 0;
	font-size: 10px;
}
.banner-box a span.text-with-border {
	left: 15px;
	width: 74px;
	font-size: 23px;
	font-family: 'Staatliches', cursive;
	border: 1px solid rgba(231,227,92,0.5);
	line-height: 19px;
	padding: 12px 8px;
}
.banner-box a span.overlay-text {
	bottom: 27px;
	top: auto;
	left: 20px;
}
.banner-box a span.overlay-text .big-text {
	position: static;
	font-size: 24px;
	line-height: 24px;
	font-family: 'Staatliches', cursive;
	display: block;
	margin-bottom: 2px;
}
.half-banner-box a span.overlay-text {
	bottom: 15px;
	left: 15px;
}
.half-banner-box a span.overlay-text .big-text {
	font-size: 15px;
	line-height: 15px;
	margin-bottom: 2px;
}
.half-banner-box a span.overlay-text .big-text span {
	display: block;
	font-size: 14px;
	position: static;
}
.banner-box .banner-border {
	position: relative;
}
.banner-box .banner-border:before {
	content: "";
	width: 87%;
	height: 83%;
	border: 1px solid rgba(231,227,92,0.5);
	display: block;
	position: absolute;
	top: 12px;
	left: 12px;
	z-index: 9;
}
.half-banner-box .text-bottom {
	display: block;
	bottom: 20px;
	top: auto;
	font-family: 'Oswald', sans-serif;
	font-size: 33px;
	font-weight: 300;
	width: 100%;
	text-align: center;
}
.button-wrapper {
}
.button-wrapper a {
	width: 162px;
	height: 33px;
	line-height: 33px;
	border: none;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 17px;
	font-family: 'Staatliches', cursive;
	padding: 0;
}
.button-wrapper a i {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.button-wrapper a img {
	width: auto;
}
.button-wrapper a:hover {
	color: #fff;
	background-color: #c74d4a;
}
.button-wrapper a:hover i img, .nav-tabs>li>a:hover i.right-icon img, .nav-tabs>li.active>a i.right-icon img{
	-webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
/*Inner Page Css Start*/
.innerpage .blog-post {
	background-color: #ffffff;
}
.innerpage .blog-post .blog-img {
	min-height: 220px;	
}
.innerpage .nav-tabs>li {
	width: auto;
}
.innerpage .nav-tabs>li a {
	padding: 14px 65px;
}
.nav-tabs>li>a i.right-icon {
	width: 16px;
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
}